/* layout */
div#container	{width:93%;margin:0 auto;max-width:1100px}




/* header */
/*
#header	{background:transparent url(images/bg_header.png) no-repeat right top}
a#bitweaver_logo	{display:block;clear:both;height:123px;width:66px;margin:0 0 0 3%;background:transparent url(images/bg_header_logo-trans.png) -66px 0 no-repeat}
a#bitweaver_logo:hover	{background-position:0 0}
a#bitweaver_logo em	{display:none}
*/

#header h1	{display:block;text-align:center;margin:0;padding:0;font-size:13px;line-height:17px;font-family:monospace}
#header h1 strong	{color:#fff;font-weight:500}
#header h1 em	{color:#fff;font-style:normal;padding:0 0 0 0.6em}

#header div.bittop	{max-width:785px;margin:0 auto}

#wrapper	{border:4px solid #ffe339;margin:0 auto;max-width:777px}
#content	{background:#fff url(images/bg_content.png) repeat-x;border:1px solid #fff}
#footer	{text-align:center;padding:4em 0 1em 0}
#footer a,#footer:visited	{color:#00e;border-bottom:1px solid #f0f0f0}
#footer a:hover	{color:#00f;border-bottom:1px solid #ddd;text-decoration:none}

/* navigation, progress */
div.progressbar em	{font-style:normal;display:block;width:123px;float:left;padding-left:1em}
div.progressbar div.bar	{margin-left:133px}
div.progressbar div.progress	{background:#e0ffb0;text-align:center;border:1px solid white}
div.progressbar div.progress100	{background:#8de817}
div.progressbar div.progress0	{background:#fdf9ea;width:3em !important}




/* extra */
#extra	{text-align:center}
#extra ul	{text-align:center}
#extra li	{display:inline;padding-left:28px;background-position:6px 6px;border:1px solid #fefc6b;margin-right:4px}
#extra li.help	{border-color:#ddd}
#extra li.warning	{border-color:#ffc994}

/* step nav */
#stepmenu	{background:#ffe339 url(images/favicon.ico) no-repeat 8px 7px;padding:4px 0 0 28px;margin:3em auto 0em auto}
#stepmenu li	{padding:26px 0.5em 0.5em 0.5em;display:inline;color:#000;border:0}

#stepmenu li.current	{background:transparent url(images/software-update-available-trans.png) no-repeat top;color:#fff;font-weight:700}
#stepmenu li.current a	{color:#000}

#stepmenu li.success	{background-position:top;background-color:transparent}
#stepmenu li.success a	{color:#a73}

#stepmenu li.uncompleted	{}
#stepmenu li.uncompleted a	{}




/* global */
html	{background:#FFFED4}
body	{background:#FFFED4 url(images/bg_body.png) repeat-x left top}
body	{font:13px/22px sans-serif;margin:0 auto;padding:0}
table	{border-collapse:collapse;padding:0;margin:0;width:100%;table-layout:fixed}
caption	{font-weight:bold}
th	{text-align:left;overflow:hidden}
th a	{color:#ff0}
td	{vertical-align:top}
hr	{border:1px dotted #bab7ac;border-width:1px 0 0 0;background:transparent;margin:2em 0}
p	{margin:1em auto}
code	{font-family:monospace}
h1	{font-size:140%;margin-top:1.5em}
h2	{font-size:120%;margin-top:4em}
h3	{font-size:110%}
h1,h2,h3	{font-weight:700;text-align:center}
.clear	{clear:both}
.center	{text-align:center}
.alright	{text-align:right}

/* links */
a	{text-decoration:none}
a.external	{background:transparent url(images/external.gif) no-repeat right 4px;padding-right:10px}
a:hover	{text-decoration:underline}
.icon	{border:0;vertical-align:middle}
a img	{border:0}



/* forms */
form	{clear:both}
form,
input,
textarea,
select	{margin:0;padding:0;border-width:1px;padding:0.2em}
textarea	{width:99%}

fieldset	{padding:0;margin:1em;border:0px solid #fff}
legend	{background:transparent;padding:1em 1em 1em 0}

.row	{overflow:auto;clear:both;margin:0 0 1.5em 0}
.formlabel	{float:left;width:24%;text-align:right;padding:0 0.5em 1em 0;font-weight:bold}
.formfeedback	{}
.formfeedback .icon	{display:none}
.formfeedback div	{padding:4px;border-bottom:1px dotted #aaa}

.odd	{background:#f4f4f3;color:#000}
.even	{color:#000}



.danger	{padding:0.5em;background:#ffdddd url(images/danger-trans.png) no-repeat 16px center;border:3px solid #a00;padding:1em 1em 1em 160px;min-height:100px}

.formfeedback ul	{padding:0;margin:0}
.formfeedback li	{border-bottom:1px dotted #aaa}




/* lists */
dl	{padding:0;margin:0.5em 0;line-height:1.3em}
dt	{padding:0;margin:0;width:30%;text-align:right;font-weight:bold}
dd	{padding:0;margin:-1.3em 0 0.5em 32%}

#content ul	{padding-left:24px}






/* tabs */
.tabsystem .tabcontainer ul,
.tabsystem .tabcontainer li	{margin:0;padding:0;border:0;list-style-type:none;display:inline}
.tabsystem .tabcontainer	{margin:0;padding:0;border:0;clear:both}
.tabsystem .tabcontainer .tab,
.tabsystem .tabcontainer .tab-active	{position:relative;display:inline;float:left;z-index:1;white-space:nowrap}
.tabsystem .tabpage	{clear:both}
.tabsystem h4	{margin:0;padding:0}

.tabsystem .tabcontainer 	{line-height:16px}
.tabsystem .tabcontainer .tab,
.tabsystem .tabcontainer .tab-hover,
.tabsystem .tabcontainer .tab-active	{top:3px;font-weight:normal;margin:0 6px;padding:3px 5px 1px 5px;background:transparent url(images/tab_shade.png) repeat-x;border:1px solid #ccc;border-bottom:0}
.tabsystem .tabcontainer .tab-hover	{padding-top:2px;border-top:2px solid #ffe339}
.tabsystem .tabcontainer .tab-active	{top:1px;padding:2px 8px 4px 8px;margin:0 3px;border-top:2px solid #ffe339;background:#fdf9ec;font-weight:700}
.tabsystem .tabpage	{border-top:1px solid #ccc}
.tabcontainer a	{color:#888;text-decoration:none}
.tabcontainer a:hover	{color:#000;text-decoration:none}
.tabsystem .tab-active a	{color:#000}



/* hacks */
form.checks legend	{display:none}
form.checks .formlabel	{display:none}
form.checks .forminput	{margin-left:0}
form.checks .requirements p.success	{background-color:transparent;border:0;background-position:11px 50%;text-indent:0px;padding-left:44px}
form.checks .recommended p.success,
form.checks .recommended p.warning	{background-color:transparent;border:0;background-position:11px 12px;text-indent:0px;padding-left:44px}

form.checks #phpini tr.success,
form.checks #phpini tr.warning	{background-color:transparent;border:0;background-position:11px 50%;text-indent:0px}
form.checks #phpini td,
form.checks #phpini th	{padding-left:33px}
form.checks #phpini	{max-width:44em}

#install_welcome legend	{display:none}
#install_welcome div.row.submit input	{border-width:3px;padding:.25em .5em;font-size:1.3em;font-family:sans-serif}

#install_welcome table	{margin-bottom:3em}
#install_welcome table *	{list-style:none;padding:0;margin:0}
#install_welcome table ul	{line-height:23px}

table#requirements tr.error,
table#requirements tr.success,
table#requirements tr.warning	{border:0;background-position:right 50%;text-indent:0px}
table#requirements tr.success	{background-color:transparent}

ul#fixedpermlist,ul#fixedpermlist li	{list-style-type:none}





/* vim: set ts=40: */
