/*  layout */
div#container				{width:900px;margin:0 auto}
div#content					{float:left;width:680px;}
div#navigation				{float:right;width:200px}
div#extra					{float:right;clear:right;width:200px}
div#footer					{clear:both;width:100%}

#container					{color:#000;}
#content					{float:left; background:#fff; border:1px solid #2c4268; line-height:16px;}
#navigation					{background:#fff; font-size:10px; border:1px solid #2c4268;}
#extra						{background:#235; font-size:10px; border:1px solid #999; color:#ccc; margin:16px 0 0 0; opacity:0.8;}
#footer						{background:#eee;}
.progressbar				{padding:15px 5px; font-weight:bold;}
.progressbar .bar			{border:1px solid #888; background:#457; margin:2px 0;}
.progressbar .progress		{background:#c30; text-align: center;padding:5px 0; color:#fff;}

/* global stuff */
body						{background:#124 url( images/bg.gif ) repeat; font-family:verdana, arial, helvetica, sans-serif; font-weight:normal; font-size:12px; margin:0px; padding:10px; vertical-align:middle; color:#fff;}
table						{border-collapse:collapse; padding:0; margin:0; width:100%;}
caption						{font-weight:bold; padding:5px 0 0 0;}
th							{text-align:left; padding:3px 5px; background:#2c4268; border-bottom:2px solid #fff; color:#fff;}
th a						{color:#ff0;}
td							{padding:2px 3px; vertical-align:top;}
hr							{border:1px solid #000;}
p							{margin:0.5em; padding:0.5em;}
code						{font-weight:900; color:#468;}

/* titles */
h1							{font-size:160%; font-variant:small-caps;}
h2							{font-size:140%;}
h3							{font-size:120%;}
h1,h2,h3					{font-weight:900; text-align:center; color:#900; margin:2px 0; padding:25px 0 0 0;}

/* links */
a							{color:#f30; text-decoration:none;}
a.external					{background:transparent url('images/external.gif') no-repeat right; padding-right:12px;}
a:hover						{text-decoration:underline;}
.icon						{border:0; vertical-align:middle;}

/* styling */
.bittop						{background:#fff url('images/bitweaver.gif') top left no-repeat;}
.bittop h1					{font-size:10px; color:#666; text-align:right; padding:110px 10px 0 0; margin:0;}
.header						{}
.clear						{clear:both;}
.highlight					{color:#139;}

/* forms */
form						{clear:both;}
form,
input,
textarea,
select						{margin:0; padding:0; font-size:12px; font-family:verdana,arial,helvetica sans-serif;}
fieldset					{padding:10px; margin:10px; border:0; border-top:3px solid #f60;}
legend						{padding:2px 7px; background:#fff; font-weight:bold;}
textarea					{width:100%;}

.row						{overflow:auto; clear:both; margin:0 0 1.5em 0;}
.formlabel					{float:left; width:24%; text-align:center; padding:0em 1% 1em 0; font-weight:bold;}
.formfeedback				{}
.formfeedback div			{padding:4px; border-bottom:1px dotted #aaa;}

.odd						{background:#eee;}

.dialog-error,
.error						{background:#fdd;}
.dialog-warning,
.warning					{background:#fed;}
.dialog-ok,
.success					{background:#def;}
.media-playback-start,
.current					{background:#ffc;}
.help						{background:#eee;}
div.warning,
div.success,
div.error					{border:1px solid #999; padding:1em;}
p.warning,
p.success,
p.error						{border:1px solid #999;}
p.help						{border:1px solid #ccc; margin:0.5em 0;}

.formfeedback ul 			{padding:0; margin:0;}
.formfeedback li 			{border-bottom:1px dotted #aaa;}

li.error,
li.warning,
li.success					{list-style:none; padding:4px; margin:0;}

.forminput					{margin-left:26%;}
.forminput tr				{padding:4px; border-bottom:1px dotted #aaa;}
.forminput p				{margin:0.5em 0;}
.formhelp					{color:#666; font-size:10px; cursor:help;}
.submit						{text-align:center; margin:10px 0 2em 0;}
select,
input 						{padding:5px 10px; font-weight:bold;}
table input					{padding:0 10px;}

/* special style for checks page */
.checks .formlabel			{float:none; width:auto; text-align:left; padding:0.5em; background:#68a; color:#fff; border:#000 1px solid;}
.checks .forminput			{margin-left:10%;}

dl							{padding:0; margin:0.5em 0; line-height:1.3em;}
dt							{padding:0; margin:0; width:30%; text-align:right; font-weight:bold;}
dd							{padding:0; margin:-1.3em 0 0.5em 32%;}

/* navigation and status */
#navigation a				{color:#009;}
#navigation ul				{font-weight:bold;}
#navigation ul,
#navigation li,
ul.result,
.result li					{padding:0; margin:0;}
ul							{padding-top:0; padding-bottom:0; margin-top:0; margin-bottom:0;}
#navigation li,
.result li					{list-style:none; border-bottom:1px dotted #bbb; padding:7px;}
#navigation .title			{letter-spacing:1px; color:#900; text-align:center; padding:110px 0 10px 0; background:#fff url('images/ometer.gif') top center no-repeat;}
.result li li				{border:0; padding:1px; list-style:circle;}

/* tabs */
.tabsystem .tabcontainer ul,
.tabsystem .tabcontainer li				{margin:0; padding:0; border:0; list-style-type:none; display:inline;}
.tabsystem .tabcontainer				{margin:0; padding:0; border:0; clear:both;}
.tabsystem .tabcontainer .tab,
.tabsystem .tabcontainer .tab-active	{position:relative; display:inline; float:left; z-index:1; white-space:nowrap;}
.tabsystem .tabpage						{clear:both;}
h4										{margin:0; padding:0;}

/* tabstyle */
.tabsystem .tabcontainer .tab,
.tabsystem .tabcontainer .tab-hover,
.tabsystem .tabcontainer .tab-active	{top:3px; font:10px verdana,arial,sans-serif; font-weight:normal; margin:0 6px; padding:3px 5px 1px 5px; background:transparent url( "images/tab_shade.png" ) repeat-x; border:1px solid #ccc; border-bottom:0;}
.tabsystem .tabcontainer .tab-hover		{padding-top:2px; border-top:2px solid #f90;}
.tabsystem .tabcontainer .tab-active	{top:1px; padding:2px 8px 4px 8px; margin:0 3px; border-top:2px solid #f90; background:#fff; color:#000;}
.tabsystem .tabpage						{border-top:1px solid #ccc;}
.tabcontainer a,
.tabcontainer a:hover					{color: #000; text-decoration: none;}
